numpy
climlab==0.9.1
git+https://github.com/climlab/climlab-rrtmg.git
git+https://github.com/climlab/climlab-cam3-radiation
git+https://github.com/climlab/climlab-emanuel-convection
matplotlib
pooch
dash
dash_iconify
pip
icecream
netcdf4
h5netcdf
pre-commit