numpy
climlab
git+https://github.com/climlab/climlab-rrtmg.git
git+https://github.com/climlab/climlab-cam3-radiation
git+https://github.com/climlab/climlab-emanuel-convection
matplotlib
pooch
dash
dash_iconify
dash_mantine_components
pip
icecream
netcdf4
h5netcdf
pre-commit
gunicorn
xarray
scipy
pydantic